//===========================ПОДКЛЮЧЕНИЕ=ШРИФТОВ====================================

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

//===========================ШРИФТЫ=ПО=УМОЛЧАНИЮ====================================

$fontDefault:  16px;

$fontFamilyDef: 'Montserrat', sans-serif;

//===========================ЦВЕТ=ТЕКСТА=ПО=УМОЛЧАНИЮ====================================

$colorOne: rgba(12, 118, 216, 1);

$colorDefault: rgba(42, 45, 70, 1);

//=============================ШАПКА=================================================

header{
   
   width: 100%;
   margin: 3vw 0;

}



.headerContainer{


   display: flex;
   justify-content: space-around;
   width: 100%;



//==============================================================



   .headlineContainer{

         display: flex;
         width: 20vw;
         //border: 1px solid black;
        

         .logotypeHeadline{

            display: flex;
            justify-content: center;
            

            width: 4vw;
            height: 100%;
            //border: 1px solid black;

               img{

                  max-width: 100%;

               }

         }

         .theTextOfthHeaderContainer{

               display: flex;
               flex-direction: column;
               width: 100%;

               //padding: 0 4%;
               //border: 1px solid black;

               .tittle{

                  font-size: 0.9em;
                  font-weight: bold;
                  color: $colorOne;
                  height: 70%;

                  display: flex;
                  align-items: center;


               }

               .subTittle{

                  font-size: 11px;
                  font-weight: bold;
                  color: $colorDefault;
                  height: 30%;

                  display: flex;
                  align-items: center;
                  
                  
                  span{
                     flex-shrink: 1;
                     flex-wrap: wrap;
                  }

                  

               }


         }


   }


   
//=============================================================



   .menuContainer-headerContainer{

      display: flex;
      align-items: center;
      justify-content:space-around;
      //border: 1px solid black;

      width: 24vw;

      font-size: 0.8em;

      color:$colorDefault;

      .phones-menu{
         flex-wrap: wrap;
      }
      .tablets-menu{
         flex-wrap: wrap;
      }
      drones-menu{
         flex-wrap: wrap;
      }
      .toys-menu{
         flex-wrap: wrap;
      }
      .other-menu{
         flex-wrap: wrap;
      }


   }



//==============================================================

   .numberPhone-headerContainer{

      display: flex;
      align-items: center;
      margin: 0 1%;

      span{

         display: block;
         font-size: 13px;
         font-weight: bold;
         white-space: nowrap;
      
      }
   }


//================================================================


   .buttonMakeAnOrder{

      display: flex;
      align-items: center;
      margin: 0 2%;

      width: 11vw;

      //border: 1px solid black;

      button{

         width: 100%;
         //white-space: nowrap;
         padding: 5% 0;

         font-size: 13px;
         font-weight: bold;

         background-color: transparent;

         border: 1.5px solid rgba(235, 45, 102, 1);
         border-radius: 2px;
         color: rgba(235, 45, 102, 1);

      }

   }



//=================================================================

   .quantityManyAndBasket{

      display: flex;
      justify-content: space-around;

      width: 13vw;

      //border: 1px solid black;

      .bgBasket{

            img{
               display: block;
               max-width: 100%;
            }

      }

      .qntyManys{

         display: flex;
         align-items: center;

         span{

               display:block;
               
               //border: 1px solid black;

         }

         .trngl{

               display: block;
               //border:1px solid black;

               border-left:5px solid transparent;
               border-right:5px solid transparent;
               border-top: 10px solid black;

         }
      }

   }

}

