@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.contentContainer {
  max-width: 1170px;
  margin: 0px auto;
}

header {
  width: 100%;
  margin: 3vw 0;
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.headerContainer .headlineContainer {
  display: flex;
  width: 20vw;
}
.headerContainer .headlineContainer .logotypeHeadline {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 100%;
}
.headerContainer .headlineContainer .logotypeHeadline img {
  max-width: 100%;
}
.headerContainer .headlineContainer .theTextOfthHeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.headerContainer .headlineContainer .theTextOfthHeaderContainer .tittle {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(12, 118, 216);
  height: 70%;
  display: flex;
  align-items: center;
}
.headerContainer .headlineContainer .theTextOfthHeaderContainer .subTittle {
  font-size: 11px;
  font-weight: bold;
  color: rgb(42, 45, 70);
  height: 30%;
  display: flex;
  align-items: center;
}
.headerContainer .headlineContainer .theTextOfthHeaderContainer .subTittle span {
  flex-shrink: 1;
  flex-wrap: wrap;
}
.headerContainer .menuContainer-headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 24vw;
  font-size: 0.8em;
  color: rgb(42, 45, 70);
}
.headerContainer .menuContainer-headerContainer .phones-menu {
  flex-wrap: wrap;
}
.headerContainer .menuContainer-headerContainer .tablets-menu {
  flex-wrap: wrap;
}
.headerContainer .menuContainer-headerContainer drones-menu {
  flex-wrap: wrap;
}
.headerContainer .menuContainer-headerContainer .toys-menu {
  flex-wrap: wrap;
}
.headerContainer .menuContainer-headerContainer .other-menu {
  flex-wrap: wrap;
}
.headerContainer .numberPhone-headerContainer {
  display: flex;
  align-items: center;
  margin: 0 1%;
}
.headerContainer .numberPhone-headerContainer span {
  display: block;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
}
.headerContainer .buttonMakeAnOrder {
  display: flex;
  align-items: center;
  margin: 0 2%;
  width: 11vw;
}
.headerContainer .buttonMakeAnOrder button {
  width: 100%;
  padding: 5% 0;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
  border: 1.5px solid rgb(235, 45, 102);
  border-radius: 2px;
  color: rgb(235, 45, 102);
}
.headerContainer .quantityManyAndBasket {
  display: flex;
  justify-content: space-around;
  width: 13vw;
}
.headerContainer .quantityManyAndBasket .bgBasket img {
  display: block;
  max-width: 100%;
}
.headerContainer .quantityManyAndBasket .qntyManys {
  display: flex;
  align-items: center;
}
.headerContainer .quantityManyAndBasket .qntyManys span {
  display: block;
}
.headerContainer .quantityManyAndBasket .qntyManys .trngl {
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

.firstContainer {
  display: flex;
  justify-content: space-between;
}
.firstContainer .descriptionProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 33vw;
  margin: 0 0 0 2.22vw;
}
.firstContainer .descriptionProduct .title {
  font-size: 36px;
  font-weight: bold;
  color: rgb(42, 45, 70);
}
.firstContainer .descriptionProduct .description {
  font-size: 16px;
  color: rgb(42, 45, 70);
}
.firstContainer .descriptionProduct .buttonViewCatalog {
  height: 3vw;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 45, 102);
  box-shadow: 0 0 5px rgb(235, 45, 102);
}
.firstContainer .descriptionProduct .buttonViewCatalog button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.firstContainer .photosProduct {
  transform: translateX(-20%);
}
.firstContainer .photosProduct .photos {
  width: 38vw;
}
.firstContainer .photosProduct .photos img {
  max-width: 100%;
}

.bg-img {
  position: absolute;
  z-index: -1;
  left: 55.74vw;
  width: 42.95vw;
}
.bg-img img {
  max-width: 100%;
}

.bg-background {
  position: absolute;
  z-index: -2;
  top: 7vw;
  left: 63.71vw;
  background-color: rgba(128, 128, 128, 0.146);
  width: 35vw;
  height: 32vw;
}

.bg-product {
  position: absolute;
  left: 60vw;
  top: 7vw;
  background-image: url("../img/previewTittle/bg-product.png");
  width: 38.71vw;
  height: 30vw;
}
.bg-product .backGround {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-product .backGround .emptyBox {
  padding-top: 50%;
}
.bg-product .backGround .infoProd {
  height: 80%;
  display: flex;
  padding-bottom: 12%;
}
.bg-product .backGround .infoProd .switchingInfo {
  display: flex;
  flex-direction: column;
  width: 33vw;
}
.bg-product .backGround .infoProd .switchingInfo .emptyBoxForSwith {
  height: 55%;
}
.bg-product .backGround .infoProd .switchingInfo .switch {
  height: 15%;
  display: flex;
  justify-content: space-around;
}
.bg-product .backGround .infoProd .switchingInfo .switch .box-hide, .bg-product .backGround .infoProd .switchingInfo .switch .box {
  padding: 0 12%;
  margin: 0 3%;
}
.bg-product .backGround .infoProd .switchingInfo .switch .box {
  background-color: rgba(255, 255, 255, 0.305);
}
.bg-product .backGround .infoProd .switchingInfo .switch .box-hide {
  background-color: rgb(255, 255, 255);
}
.bg-product .backGround .infoProd .nameProduct {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 0 1vw 0 0;
}
.bg-product .backGround .infoProd .nameProduct .name {
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 1% 0;
}
.bg-product .backGround .infoProd .nameProduct .descriptionProduct-name {
  font-size: 12px;
  padding: 5% 0;
  color: rgba(255, 255, 255, 0.631);
}
.bg-product .backGround .infoProd .nameProduct .costProduct {
  font-size: 12px;
  font-weight: bold;
  padding: 1% 0;
  color: white;
}
.bg-product .backGround .infoProd .nameProduct .arrow-name {
  display: flex;
  justify-content: end;
}

.catalogAndMenuCatContainer {
  margin: 15vw 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.catalogAndMenuCatContainer .catalogMenu-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vw;
}
.catalogAndMenuCatContainer .catalogMenu-container .emptyCell-catalogMenu {
  width: 6vw;
}
.catalogAndMenuCatContainer .catalogMenu-container .headline-menuCatalog span {
  font-size: 25px;
  font-weight: bold;
}
.catalogAndMenuCatContainer .catalogMenu-container .menu-container {
  display: flex;
  justify-content: space-around;
  width: 32vw;
  margin: 0 0 0 2vw;
}
.catalogAndMenuCatContainer .catalogMenu-container .menu-container .menuPoint {
  font-size: 13px;
  color: rgb(42, 45, 70);
}
.catalogAndMenuCatContainer .catalogMenu-container .menu-container .menuPoint--hide {
  font-size: 13px;
  color: rgb(12, 118, 216);
}
.catalogAndMenuCatContainer .catalogProduct-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.catalogAndMenuCatContainer .catalogProduct-container span {
  display: block;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  box-shadow: 0 0 22px rgb(224, 224, 224);
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .headline-productBox span {
  font-size: 16px;
  color: rgb(42, 45, 70);
  font-weight: bold;
  width: 17vw;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .descrProduct-container {
  display: flex;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .descrProduct-container .parameterProduct-container {
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .descrProduct-container .parameterProduct-container span {
  color: rgb(44, 59, 160);
  font-size: 12px;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .descrProduct-container .valueParameterProduct-container {
  height: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .descrProduct-container .valueParameterProduct-container span {
  color: rgb(42, 45, 70);
  font-size: 12px;
}
.catalogAndMenuCatContainer .catalogProduct-container .productBox .costProduct-catalog {
  text-align: start;
  padding: 0 0 0 13%;
  width: 100%;
  height: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  font-weight: bold;
  color: rgb(12, 118, 216);
}
.catalogAndMenuCatContainer .catalogProduct-container .arrowLeft-catalog {
  display: flex;
  align-items: center;
}
.catalogAndMenuCatContainer .catalogProduct-container .arrowRight-catalog {
  display: flex;
  align-items: center;
}

.container-slider {
  margin: 3.5vw 0;
  width: 50%;
  height: 7vw;
  display: flex;
  align-items: center;
  transform: translateX(50%);
}
.container-slider .band-slider {
  width: 100%;
  height: 0.5vw;
  background: rgb(226, 228, 242);
}
.container-slider .slider-slider {
  position: absolute;
  z-index: 1;
  left: 49%;
  width: 4vw;
  height: 1.5vw;
  background: rgb(144, 148, 187);
}

.containerBoxes {
  height: 40vw;
  width: 95%;
  transform: translateX(2.7vw);
  display: flex;
}
.containerBoxes .firstBox-adv {
  width: 50%;
  height: 90%;
  background-image: url("../../img/adv/01.png");
  background-position: -5vw -5vw;
  background-repeat: no-repeat;
  background-size: 52vw 50vw;
  margin: 0 1vw 0 0;
  box-shadow: 0 0 22px rgb(224, 224, 224);
}
.containerBoxes .firstBox-adv .titlesContainer {
  display: flex;
  width: 26vw;
  height: 15vw;
  transform: translate(3.22vw, 17vw);
}
.containerBoxes .firstBox-adv .titlesContainer .squareContainer {
  width: 2vw;
  height: 2vw;
  background-color: white;
}
.containerBoxes .firstBox-adv .titlesContainer .titles {
  display: flex;
  flex-direction: column;
  width: 28vw;
}
.containerBoxes .firstBox-adv .titlesContainer .titles .mainTitle {
  width: 100%;
  height: 13vw;
  display: flex;
  align-items: end;
}
.containerBoxes .firstBox-adv .titlesContainer .titles .mainTitle span {
  font-size: 27px;
  font-weight: bold;
  color: white;
}
.containerBoxes .firstBox-adv .titlesContainer .titles .subTitle-adv {
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
}
.containerBoxes .firstBox-adv .titlesContainer .titles .subTitle-adv span {
  color: rgba(255, 255, 255, 0.635);
  font-size: 16px;
}
.containerBoxes .secondBox-adv {
  width: 50%;
  height: 90%;
  background-image: url("../../img/adv/02.png");
  background-position: -5vw -5vw;
  background-repeat: no-repeat;
  background-size: 52vw 50vw;
  margin: 0 0 0 1vw;
  box-shadow: 0 0 22px rgb(224, 224, 224);
}
.containerBoxes .secondBox-adv .titlesContainer {
  display: flex;
  width: 26vw;
  height: 15vw;
  transform: translate(3.22vw, 17vw);
}
.containerBoxes .secondBox-adv .titlesContainer .squareContainer {
  width: 2vw;
  height: 2vw;
  background-color: white;
}
.containerBoxes .secondBox-adv .titlesContainer .titles {
  display: flex;
  flex-direction: column;
  width: 28vw;
}
.containerBoxes .secondBox-adv .titlesContainer .titles .mainTitle {
  width: 100%;
  height: 13vw;
  display: flex;
  align-items: end;
}
.containerBoxes .secondBox-adv .titlesContainer .titles .mainTitle span {
  font-size: 27px;
  font-weight: bold;
  color: white;
}
.containerBoxes .secondBox-adv .titlesContainer .titles .subTitle-adv {
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
}
.containerBoxes .secondBox-adv .titlesContainer .titles .subTitle-adv span {
  color: rgba(255, 255, 255, 0.635);
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */